<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />
	<title> <%= projectName %> - <%= modName %> demo </title>
	<link rel="stylesheet" href="index.css"/>
	<script src="http://g.tbcdn.cn/kissy/k/1.3.1/seed-min.js"></script>
	<!-- CDN: <%= config %> -->
	<script src="<%= srcPath %>config.js"></script>
</head>
<body>

	<!--Your Code Here-->
	<!--#include virtual="./path/to/include/file.html" -->

	<script>
		KISSY.use('<%= packageName %>/<%= mojoName %>/index', function(S, <%= modName %>) {
			new <%= modName %>();
		});	
	</script>
</body>
</html>

