<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title><%= projectName %> demo</title>
		<link rel="stylesheet" href="index.css"/>
		<script src="http://a.tbcdn.cn/s/kissy/1.3.0/kissy-min.js"></script>
		<script>
			if (S.Config.debug) {
				var srcPath = "./";
				S.config({
					packages:[
						{
							name:"<%= projectName %>",
							path:srcPath,
							charset:"utf-8",
							ignorePackageNameInUri:true,
							debug:true
						}
					]
				});
			} else {
				KISSY.config({
					packages: [
						{
							name: '<%= projectName %>',
							// 发布到线上时需要带上版本号
							path: 'http://a.tbcdn.cn/g/业务线Group/<%= projectName %>',
							ignorePackageNameInUri: true
						}
					]
				});
			}
		</script>
	</head>
	<body>
		<!--Your Code Here-->
		<script>
			KISSY.use('<%= projectName %>/index', function(S, <%= projectName %>) {
				<%= projectName %>.init();
			});	
		</script>
	</body>
</html>
